body {
  width: 500px;
  margin: 50px auto;
  background-color: #303334;
}
.controls {
  display: flex;
  justify-content: center;
}
.button1,
.button2,
.button3 {
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
  background-color: #00d784;
  border-radius: 25px;
  width: 100px;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.fas {
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}
.button2 {
  background-color: #e33622;
}
.button3 {
  background-color: #11c3eb;
}

.stopwatch {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}
